/*בס"ד*/

header {
    text-align: right;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
}

.meme-gen {
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    margin: auto;
    gap: 30px;
}

.control-box {
    display: grid;
}

.line-control {
    display: flex;
    justify-content: space-between;
}

.text-prop {
    display: flex;
    justify-content: space-between;
}

.text-style {
    display: flex;
    justify-content: space-between;
}

.text-style>* {
    height: 100%;
}

.img-gallery {
    display: inline-block;
    text-align: center;
}

.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}