/* בס"ד */

@media (max-width: 980px) {
    .meme-gen {
        grid-auto-flow: row;
    }

    img {
        width: 20vw;
        height: auto;
    }

    button {
        width: -webkit-fill-available;
    }

    .color-picker button {
        width: 12em;
    }
}